<a href="/admin/dashboard">&larr; Back</a>
<div class="admin-title">
    <h2>View / Edit Post</h2>
<form action="/delete-post/<%= post._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete" class="btn-delete btn">
</form>
</div>



<form action="/edit-post/<%= post._id %>?_method=PUT" method="post">
    <label for="title"><b>Title</b></label>
    <input type="text" value="<%= post.title %>" name="title">

    <label for="content"><b>Content</b></label>
    <textarea name="body" cols="50" rows="10"><%= post.body %></textarea>

    <input type="submit" value="Update" class="btn">
</form>